/* --------
   RESET
----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------
   DEBUG
----------*/
.debug {
    border: 1px dashed black;
}

/* --------
   GENERAL
----------*/

.container {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.row {
    margin-left: -10px;
    margin-right: -10px;
    
}

/* --------
   COLUMN
----------*/
.col-50 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.col-100 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


/* --------
   COLOR
----------*/

.bg-red {
    background-color: #B91450;
}

.bg-white {
    background-color: white;
}

.color-white {
    color: white;
}

.color-red {
    color: #B91450;
}

/* --------
   TEXT
----------*/
.text-center {
    text-align: center;
}

/* --------
   MARGIN
----------*/

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/* --------
   BUTTONS
----------*/
.btn {
    padding: 6px 8px;
    cursor: pointer;
}

.btn-primary {
    border-radius: 8px;
    border: 1px solid #B91450;
    color: #B91450;
}

.btn-primary:hover {
    background-color: #B91450;
    color: white;
}


/* ----------------
   FORM  CONTAINER
-----------------*/

.form-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: white;
    border-radius: 8px;
    width: 70%;
}

.row1 {
    display: flex;
    justify-content: center;
    
}

.col-50.flex-center {
    display: flex;
    justify-content: center;
}

.col-100.flex-center {
    text-align: center;
}

/* ----------------
   TICKET  CONTAINER
-----------------*/

.ticket-container {
    padding: 20px 0;
    background-color: white;
    border-radius: 8px;
    width: 70%;
}

.row2 {
    display: flex;
    justify-content: center;
    
}